doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")   
    meta(name="description", content="Iklan Gratis")
    meta(name="description", content="KakiLima, pusat jual beli dan beriklan gratis")
    meta(name="keywords", content="pasar, bekas, kakilima,kaki, lima, kakilima-net, baru, jual, beli, sewa, permintaan, iklan")
    meta(http-equiv="Content-Language", content="id_ID")
    meta(name="robots", content="index,follow")

    title= "Iklan Jual Beli - " + title 
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/carousel.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/components/jquery/jquery.min.js')
    script(src='/components/datatables/media/js/jquery.dataTables.js')

    script(src='/javascripts/bootstrap.min.js')    
    script(src='/javascripts/tooltip.js')


    // [if lt IE 9]
      script(src='/javascripts/html5shiv.js')
      script(src='/javascripts/respond.min.js')
      <![endif]

  body
    div(class="navbar-wrapper")
      div(class="container")
        div(class="navbar navbar-inverse navbar-static-top")
          div(class="container")
            div(class="navbar-header")
              button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="/") KLima
            
            div(class="navbar-collapse collapse")
              ul(class="nav navbar-nav")
                li(class="active")
                  a(href="/") Home
                li
                  a(href="/ads/new") Iklan Baru
                li
                  a(href="/iklan") List Iklan
                li(class="dropdown")

                  a(href="#", class="dropdown-toggle", data-toggle="dropdown") Kategori 
                    b(class="caret")
                  ul(class="dropdown-menu")
                    li
                      a(href="/iklan/alat_musik") alat musik
                    li                
                      a(href="/iklan/buku") buku
                    li                
                      a(href="/iklan/handphone") handphone
                    li
                      a(href="/iklan/komputer") komputer
                    li                
                      a(href="/iklan/kuliner") kuliner
                    li
                      a(href="/iklan/mobil") mobil
                    li                
                      a(href="/iklan/motor") motor
                    li                
                      a(href="/iklan/obat") obat
                    li                
                      a(href="/iklan/pakaian") pakaian
                    li                
                      a(href="/iklan/rumah") rumah
                    li                    
                      a(href="/iklan/lain_lain") lain-lain
              
    block content

    div(id="footer")
      div(class="container", style="margin-top:10px;")
      
        script(type="text/javascript").
         <!--
          google_ad_client = "ca-pub-0975786670611524";
          /* kaki-lima-large */
          google_ad_slot = "5335831418";
          google_ad_width = 728;
          google_ad_height = 15;
        //-->

        script(type="text/javascript", src="//pagead2.googlesyndication.com/pagead/show_ads.js")

        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45174637-1', 'kaki-lima.net');
          ga('send', 'pageview');

      

    script(src='/socket.io/socket.io.js')
    != js('application')


    
    
