extend ../../views/layout

block content  
  div(class="container")
    table(class="table table-striped table-hover", id="ads_list")  
      thead
        tr
          th  
          th  
          th  
   
    script(type="text/javascript").
      $(document).ready(function(){
        var winLoc = window.location.href;
        if (winLoc.match(/.*\/$/)) {
          winLoc += 'search'
        } else {
          winLoc += '/search'
        }

        $('#ads_list').dataTable({          
          "oLanguage": { 
            "sSearch": "",
            "sInfo": "_END_ baris dari total _TOTAL_ baris",
            "sInfoFiltered": "_END_ baris dari total _TOTAL_ baris",
            "sInfoEmpty": "0 baris 0 dari total 0 baris",
            "sZeroRecords": "<p class='lead'>Tidak ada data ditemukan - maaf</p>",
            "sLengthMenu": '<select class="form-control" name="ads_list_length" size="1" aria-controls="ads_list"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>'
          },
          "sDom": '<"rows"><"col-md-2"p><"col-md-2"l><"col-md-3"f><"col-md-5 lead"i><"clear">rt',      
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": winLoc
        });

        $('#ads_list_length').addClass('pull-left');
        $('#ads_list_filter').addClass('input-group').addClass('pull-right');
        $('#ads_list_filter').find("input").addClass("form-control").attr("placeholder","cari");
        $('#ads_list_next').empty().prepend("<button type='button' class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-forward'></span></button>");
        $('#ads_list_previous').empty().prepend("<button type='button' class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-backward'></span></button>");

        $('#ads_list_paginate > a').css("margin-left","1px")


      });
