- var activated = 1  

  div(id="myCarousel", class="carousel slide")
    
    //ol(class="carousel-indicators")
    //  li(data-target="#myCarousel", data-slide-to="0", class="active")
    //  li(data-target="#myCarousel", data-slide-to="1")
    //  li(data-target="#myCarousel", data-slide-to="2")
    
    div(class="carousel-inner")
      each ad in ads['results']
        if activated
          div(class="item active")
            div(class="container")
              div(class="carousel-caption")
                h1 #{ad.name} 
                //p #{ad.description}
                p #{ad.created_at.toDateString()}
                p 
                  a(class="btn btn-large btn-primary", href="/ads/#{ad.id}") Lebih lengkap lagi      
        else
          div(class="item")
            div(class="container")
              div(class="carousel-caption")
                h1 #{ad.name} 
                //p #{ad.description}
                p #{ad.created_at.toDateString()}
                p 
                  a(class="btn btn-large btn-primary", href="/ads/#{ad.id}") Lebih lengkap lagi

        - activated = 0
    

    a(class="left carousel-control", href="#myCarousel", data-slide="prev")
      span(class="glyphicon glyphicon-chevron-left")
    a(class="right carousel-control", href="#myCarousel", data-slide="next")
      span(class="glyphicon glyphicon-chevron-right")