doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Iklan Gratis")

    title= "Iklan Gratis Kaki Lima - " + title 
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/carousel.css')
        
    // [if lt IE 9]
      script(src='/javascripts/html5shiv.js')
      script(src='/javascripts/respond.min.js')
      <![endif]

  body
    div(class="navbar-wrapper")
  
    div(class="container")
      form(action='/login', method='post', class="form-vertical", role="form")
        div(class="input-group input-group-lg col-md-5")
          
          span(class="btn-primary input-group-addon glyphicon glyphicon-user")

          input(type="text", name="username", id="username", class="form-control", placeholder="Username")

        div(class="input-group input-group-lg col-md-5")        
          span(class="input-group-addon glyphicon glyphicon-wrench btn-primary")
          input(type="password", name="password", id="password", class="form-control", placeholder="Password")

        div(class="input-group input-group-lg col-md-10", style="margin-top:10px;")
          
          input(type="submit", class="form-control btn btn-primary") Sign me in
              
        