extend ../../views/layout

block content
  div(class="container")
    div(class="row")
      div(class="col-lg-4")

        if error
          div(class="alert alert-danger") 
            if error["errors"]
              - each err in error["errors"]
                = err.path + ", " + err.type
            else
              =error.message

        form(action='/ads/new', role="form", method='post')
          div(class="row")
            div(class="form-group col-md-4")
              input(type="text", class="form-control", name='name', placeholder="Nama barang")

            div(class="form-group col-md-4")    
              input(type="text", class="form-control", name='phone', placeholder="No telepon")
            div(class="form-group col-md-4")    
              input(type="text", class="form-control", name='price', placeholder="Harga jual")
            
            
          div(class="row")
            div(class="form-group col-md-4")    
              input(type="text", class="form-control", name='city', placeholder="Kota asal")
            div(class="form-group col-md-4")            
              select(name='category', class="form-control col-md-3", placeholder="Kategori")
                option(value='lain_lain') Lain-lain (kategori)
                option(value='alat_musik') Peralatan musik
                option(value='buku') Buku
                option(value='handphone') Handphone
                option(value='komputer') Komputer
                option(value='kuliner') Kuliner
                option(value='mobil') Mobil
                option(value='motor') Motor
                option(value='obat') Obat
                option(value='pakaian') Pakaian
                option(value='rumah') Rumah
                option(value='truck') Truck
            div(class="form-group col-md-4")    
              select(name='expired', class="form-control")
                option(value='43200000') 12 jam (expired)
                option(value='86400000') 24 jam (expired)
                option(value='259200000') 3 hari (expired)
                option(value='604800000') 1 minggu (expired)
                option(value='2592000000') 1 bulan (expired)
            
          div(class="form-group")            
            textarea(name='description', class="form-control", rows=5, cols=70, placeholder="Keterangan yang lebih lengkap tentang barang yang akan dijual")

          input(type="submit", value="Kirim", name='Submit', class="btn btn-primary")