extend ../../views/layout

block content

  div(class="container")
    div(class="jumbotron")
      h1 #{ad.name}
      p Rp. #{ad.price}
      p #{ad.phone} 
      p #{ad.city}
      p batas penawaran s/d #{ad.created_at.toDateString()}
      p #{ad.description}
      p #{ad.category}
