extend ../../views/layout

block content
  ul#listing
    each ad in ads
      li
        div.status
          p(style="font-size:0.8em;")
            a(href="/admin/ads/destroy/#{ad.id}") Delete #{ad.name} / #{ad.price} / #{ad.created_at.toDateString()}
      
  
